<% layout("/layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h3 style="color: #fe424d;">Edit your Post</h3>
      <br>

      <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation">
        <div class="mb-3">
          <label for="title" class="form-label" required>Airbnb Name: </label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="listing[title]"
            value="<%= listing.title %>"
            required
          />
          <div class="valid-feedback">Title looks good</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label" required>Description: </label>
          <textarea
            class="form-control"
            id="description"
            name="listing[description]"
          >
         <%= listing.description %></textarea
          >
          <div class="invalid-feedback">Please add description</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Image URL:</label>
          <input
            type="text"
            class="form-control"
            name="listing[image][url]"
            id="image"
            value="<%= listing.image.url %>"
            required 
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label" required>Price: </label>
            <input
              type="number"
              class="form-control"
              id="price"
              name="listing[price]"
              value="<%= listing.price %>"
            />
            <div class="invalid-feedback">Please add price</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label" required>Country: </label>
            <input
              type="text"
              class="form-control"
              id="country"
              name="listing[country]"
              value="<%= listing.country %>"
            />
          </div>
          <div class="invalid-feedback">Please add country</div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label" required>Location: </label>
          <input
            type="text"
            class="form-control"
            id="location"
            name="listing[location]"
            value="<%= listing.location %>"
          />
          <div class="invalid-feedback">Please add location</div>
        </div>

        <button type="submit" class="btn btn-outline-dark add-btn">Edit</button>
      </form>
    </div>
  </div>
</body>
